<div class="container">
<div class="row header">
  <div class="col-md-12">
    <div title="Jeffrey Kao" class="name">JEFFREY KAO</div>
    <div class="title">Developer / Engineer</div>
    <nav class="nav nav-pills nav-stacked menu">
      <li><a href="#home" title="Home">HOME</a></li>
      <li><a href="#info" title="Info">INFO</a></li>
      <li><a href="/blog" title="Blog">BLOG</a></li>
      <li><a href="#contact" title="Contact">CONTACT</a></li>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-4" id="home">
    <%= image_tag("pro.jpg", class: "picture") %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-4 info" id="info">
    <h1>Info</h1>
    <p class="prox">I am full stack web developer. I enjoy making great websites from end to end!</p>
    <p class="prox">My skillset includes:</p>
      <ul class="tools">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Javascript / jQuery / AJAX</li>
        <li>Ruby / Ruby on Rails</li>
        <li>Python / Django</li>
        <li>Postgres / MySQL</li>
        <li>git version control</li>
        <li>SEO / Social Media Management</li>
      </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-4 contact" id="contact">
    <h1>Contact</h1>
    <a href="mailto:jeffthestampede@gmail.com"><%= fa_icon "envelope 2x" %></a>
    <a href="http://www.twitter.com/jeffthestampede" rel="external"><%= fa_icon "twitter 2x" %></i></a>
    <a href="http://www.linkedin.com/pub/jeffrey-kao/66/493/707" rel="external"><%= fa_icon "linkedin 2x" %></i></a>
    <a href="https://github.com/jeffthestampede" rel="external"><%= fa_icon "github 2x" %></i></a>
  </div>
</div>
</div>

<div id="footer">
  <div class="row">
    <div class="col-md-12">
      <p>&copy; Copyright 2014 Jeffrey Kao</p>
    </div>
  </div>
</div>
